<div class="flex flex-col relative h-full">
  <div class="flex-1 p-32 pb-0 bg-olive-300 flex flex-col font-mono gap-16">
    <header
      class="bg-slate-300 py-8 px-4 border border-stone-400 shadow-xl/30 flex items-center justify-center rounded-xl"
    >
      <p class="text-3xl font-bold text-gray-900">404 content not found</p>
    </header>
    <div
      class="bg-slate-300 px-8 py-4 border border-olive-400 shadow-xl/30 flex flex-col items-center justify-center rounded-xl"
    >
      <h2 class="text-slate-900 font-semibold">Oop.. Something went wrong</h2>
      <p class="text-sm text-gray-500">The resource that you searched for doesn't exists....</p>
      <p class="text-sm text-gray-500">Better luck next time</p>
    </div>
  </div>

  <div
    class="flex flex-col items-center justify-center w-full py-20 bg-linear-to-b from-olive-300 to-olive-500 text-white/70"
  ></div>
</div>
